
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 33% 99%;
    --foreground: 180 10% 10%;

    --card: 0 0% 100%;
    --card-foreground: 180 10% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 180 10% 10%;

    --primary: 180 100% 43%;
    --primary-foreground: 180 10% 98%;

    --secondary: 180 10% 96%;
    --secondary-foreground: 180 10% 10%;

    --muted: 180 10% 96%;
    --muted-foreground: 180 8% 46%;

    --accent: 180 10% 96%;
    --accent-foreground: 180 10% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 180 0% 98%;

    --border: 180 10% 91%;
    --input: 180 10% 91%;
    --ring: 180 84% 43%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
